*{
    font-family: Arial, Helvetica, sans-serif;
}

/* .border{
    border: black 2px solid;
} */

.halaman_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Text */

.sims_login_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.konten_logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.konten_logo h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #393535;
}

.logo{
    display: flex;
    margin: auto;
}

.logo h1{
    padding: 5px;
    font-size: larger;
    color: #393535;
    font-size: 18px;
}

/* Input Email & Password */

.input_box{
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
}

.input_box input{
    width: 400px;
    height: 50px;
    padding-left: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.at_icon{
    position: absolute;
    top: 17px;
    left: 12px;
    color: grey;
}

.lock_icon{
    position: absolute;
    top: 17px;
    left: 12px;
    color: grey;
}

.eye_icon{
    position: absolute;
    top: 17px;
    right: 12px;
    cursor: pointer;
    color: grey;
}

.tombol_masuk{
    width: 400px;
    height: 50px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.tombol_masuk:hover {
    background-color: #ff3434;
}

/* Illustrasi */

.illustrasi_container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f1f1;
}

.illustrasi_img{
    max-width: 80%;
    height: auto;
}

.error_message_login{
    text-align: center;
    padding-bottom: 10px;
}

.sims_login_container a {
    color: red;
}